version: "3.8"
services:
  weaviate:
    image: semitechnologies/weaviate:1.19.3
    ports:
      - "8080:8080"
    environment:
      - QUERY_DEFAULTS_LIMIT=20
      - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true
      - PERSISTENCE_DATA_PATH=/var/lib/weaviate
    volumes:
      - ./weaviate-data:/var/lib/weaviate